# Python cache files
*.pyc
*.pyo
__pycache__/

# Environment files
.env

# Django specific files

# VS Code specific files
.vscode/
*.code-workspace

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.pyc
*.pyd
*.pyo
*.so

# Virtual environment
venv/
env/

# Migrations
*/migrations/*.py
!*/migrations/__init__.py
