.table-R {
    background-color: #c0392b !important;
    color: aliceblue !important;
}

.table-P {
    background-color: #9b59b6 !important;
    color: aliceblue !important;
}

.table-B {
    background-color: #2980b9 !important;
    color: aliceblue !important;
}

.table-G {
    background-color: #27ae60 !important;
    color: aliceblue !important;
}

.table-Y {
    background-color: #f1c40f !important;
}

.table-O {
    background-color: #d35400 !important;
    color: aliceblue !important;
}

.table-A {
    background-color: #273746 !important;
    color: aliceblue !important;
}