{% extends 'share42/base.html' %}
{% block content %}
<center>
<div class="container">
    <h4>Thanks for bringing something to share</h4>
    <p class="alert alert-success m-2">please fill up form below</p>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="phone" placeholder="your phone number" id="phn" required class="form-control">
        <label for="phn" class="form-label">phone nr is necessary to get paid</label>
        <input type="text" name="product" placeholder="name you product" required class="form-control">
        <input type="text" name="unit" placeholder="unit (spoon, piece, scoop...)" required class="form-control"> 
        <input type="number" placeholder="total portions" required class="form-control" id="total_p">
        <input type="decimal-input" placeholder="price" required class="form-control" id="price_i">
        <input type="decimal-input" name="price_per_unit" class="form-control" placeholder="price per unit" id="unit_price">
        <input type="hidden" name="coalition" id="cltn">
        <button class="btn btn-lg btn-outline-success">Share it!</button> 
    </form>
</div>
<script>
    $("#price_i").change(function(){
        total_price = parseFloat($('#price_i').val())
        portions = parseInt($('#total_p').val())
        $('#unit_price').val((total_price / portions).toFixed(2))
    })
</script>
</center>
{% endblock %}